html,
body,
#root {
  height: 100%;
}

body {
  min-width: $layout-min-width;
  background-color: $white;
  font-family: $font-family;
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: $regular;
  color: $gray-700;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

button {
  cursor: pointer;
}

svg {
  fill: currentColor;
  pointer-events: none;
}

button,
[role='button'] {
  cursor: pointer;
}
