<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <style type="text/css">
      html,
      :root {
        box-sizing: border-box; }

      *,
      *::before,
      *::after {
        box-sizing: inherit; }

      .c-svg-jar {
        max-width: 900px;
        margin: 20px auto; }

      .c-svg-jar-title {
        margin-bottom: 16px;
        font-size: 20px; }

      .c-svg-jar-items__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px; }

      .c-svg-jar-items__svg-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        min-width: 32px;
        margin-right: 5px; }

        .c-svg-jar-items__svg-wrap svg {
          max-width: 100px;
          max-height: 32px; }

      .c-svg-jar-items__usage {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        font-size: 14px;
        color: #666;
        border: 0; }
    </style>
  </head>

  <body>
    <div class="c-svg-jar">
      <div class="c-svg-jar-title">SVG Jar Reference</div>

      <div class="c-svg-jar-items">
        {{#each items as |item|}}
          <div class="c-svg-jar-items__item">
            <div class="c-svg-jar-items__svg-wrap">
              {{{item.svg}}}
            </div>
            <input class="c-svg-jar-items__usage" type="text" readonly="readonly" value='{{item.usage}}'>
          </div>
        {{/each}}
      </div>
    </div>
    <script>
      (function() {
        var items, _i, _len, _ref;

        _ref = document.getElementsByClassName('c-svg-jar-items');
        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
          items = _ref[_i];
          items.addEventListener('click', function(event) {
            if (event.target.tagName === 'INPUT') {
              return event.target.select();
            }
          });
        }
      }).call(this);
    </script>
  </body>
</html>
