/* Colors */

$white: #fff;
$black: #000;

$gray-50: hsl(232, 10%, 98%);
$gray-100: hsl(232, 49%, 97%);
$gray-200: hsl(232, 41%, 95%);
$gray-300: hsl(232, 31%, 91%);
$gray-350: hsl(232, 31%, 88%);
$gray-400: hsl(232, 25%, 84%);
$gray-500: hsl(232, 20%, 64%);
$gray-550: hsl(232, 20%, 51%);
$gray-600: hsl(232, 20%, 42%);
$gray-700: hsl(232, 17%, 35%);
$gray-800: hsl(232, 23%, 23%);
$gray-900: hsl(232, 26%, 14%);

$indigo-100: hsl(232, 97%, 96%);
$indigo-200: hsl(232, 98%, 88%);
$indigo-300: hsl(232, 90%, 81%);
$indigo-400: hsl(232, 85%, 73%);
$indigo-500: hsl(232, 76%, 66%);
$indigo-600: hsl(232, 62%, 60%);
$indigo-700: hsl(232, 47%, 52%);
$indigo-800: hsl(232, 38%, 41%);
$indigo-900: hsl(232, 33%, 30%);
$indigo-950: hsl(232, 20%, 30%);

$blue-100: hsl(200, 95%, 96%);
$blue-200: hsl(201, 79%, 86%);
$blue-300: hsl(203, 81%, 76%);
$blue-400: hsl(205, 79%, 66%);
$blue-500: hsl(207, 73%, 57%);
$blue-600: hsl(209, 62%, 50%);
$blue-700: hsl(211, 61%, 43%);
$blue-800: hsl(213, 49%, 34%);
$blue-900: hsl(214, 41%, 28%);

$green-100: hsl(160, 69%, 96%);
$green-200: hsl(160, 75%, 87%);
$green-300: hsl(160, 73%, 74%);
$green-400: hsl(160, 58%, 62%);
$green-500: hsl(160, 51%, 49%);
$green-600: hsl(160, 63%, 41%);
$green-700: hsl(160, 70%, 34%);
$green-800: hsl(160, 72%, 29%);
$green-900: hsl(160, 98%, 15%);
