/* Spacing & size settings */

$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-12: 3rem;
$size-16: 4rem;
$size-20: 5rem;
$size-24: 6rem;
$size-26: 7rem;
$size-32: 8rem;
$size-40: 10rem;
$size-48: 12rem;
$size-56: 14rem;
$size-64: 16rem;
$size-1-2: 50%;
$size-1-3: 33.333333%;
$size-2-3: 66.666667%;
$size-1-4: 25%;
$size-2-4: 50%;
$size-3-4: 75%;
