{{! template-lint-disable no-curly-component-invocation}}

<div class='inline-icon'>
  {{svg-jar 'icon'}}
</div>

<div class='inline-accessible-icon'>
  {{svg-jar 'icon' title='dummy title' desc='dummy dec'}}
</div>

{{outlet}}