@import '../../../styles/settings/index';

$asset-size: 64px;

.asset {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $asset-size;
  width: $asset-size;
  overflow: hidden;
  border: 3px solid transparent;
  border-radius: $radius-1;
  color: $indigo-950;

  &:focus,
  &:hover {
    background-color: $gray-200;
    outline: none !important;
  }

  &:active,
  &.is-active {
    border-color: $indigo-600;
    background-color: $gray-200;
  }

  svg {
    height: $size-8;
    max-height: 50%;
    min-height: 50%;
    min-width: 50%;
  }
}
